@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=EB+Garamond:ital,wght@0,400;1,700&family=Inter:wght@200;300&family=Merriweather:ital,wght@1,300&family=Noto+Emoji:wght@300&family=Playfair+Display:ital@1&family=Poppins&display=swap');

*{
    font-family: Abhaya Libre ExtraBold;
    text-decoration: none;
    list-style-type: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 560.40px;
    margin-top: 50px;
}


.ajuste{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.titulo{
    color: #BB86FC;
    font-size: 160px;
    margin-left: 20px;
    margin-top: -100px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1);
    font-family: Belleza;
}

.emcima{
    font-family: Inter;
    width: 450px; /* Defina a largura do container conforme necessário */
    word-wrap: break-word;
    position: absolute;
    top: 43%;
    left: 15%;
    transform: translate(-21%, -50%);
    text-align: center;
    color: #fff; /* ou defina a cor de texto desejada */
    font-size: 40px; /* ou defina o tamanho de fonte desejado */
    padding: 10px;
    text-shadow: 12px 9px 2px rgba(0, 0, 0, 0.1);

}

.img img{
    width: 117%;
}

.login{
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative; top: -360px;
}

.login label{
    margin-left: 5%;
    font-size: 15px;
    font-weight: 900;
    color: #7F39FB;

}

.login input{
    margin-bottom: 20px;
    padding: 15px;
    width: 300px;
    font-size: 13px;
    outline: 0;
    border-radius: 10px;
    border: 2px solid #D9D9D9;

}

.login #senha{
    margin-bottom: 0px;
}

input::placeholder {
    color: #D9D9D9;
}

.login i{
    font-size: 20px;
    cursor: pointer;
    color: #000;
    position: relative; top: -35px;
    margin-left: 148%;
}

.cadastre{
    color: #6c757d;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.cadastre ul{
    padding: 0;
}

.cadastre a:hover{
    text-decoration: underline;
}


.botao input{
    margin-left: 90px;
    border: none;
    padding: 12px;
    width: 130px;
    background-color: #7F39FB;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
}

.titulo01{
    color: #BB86FC;
    font-size: 90px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1);
    font-family: belleza;
    position: relative; bottom: 40px;

}

.cadastro {
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative; top: -440px;
}

.cadastro label{
    margin-left: 4%;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 900;
    color: #7F39FB;
}

.cadastro input{
    margin-bottom: 15px;
    padding: 15px;
    width: 300px;
    font-size: 12px;
    outline: 0;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
}

.botao01 input{
    margin-left: 95px;
    border: none;
    width: 130px;
    background-color: #7F39FB;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
}

.login01{
    color: #6c757d;
    display: flex;
    width: 300px;
    font-size: 12px;
}
.login01 ul {
    padding: 0;
    margin-block: 0 20px;
}
.login01 a:hover{
    text-decoration: underline;
}

.img01 img{
    width: 949px; 
    margin-left: 400px;
}

.bookbeeTP{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-size: 65px;
    font-family: belleza;
    color: #BB86FC;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.bookbeeTP p{
    margin-bottom: 20px;
}

.menu-titulo{
    font-size: 21px;
    color: #7F39FB;
    font-weight: 800;
    margin-left: 35px;
}


/* tela principal - style do header  */

.headerTP {
    width: 1536px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicioeUser {
    background-color: #BB86FC;
    width: 1240px;
    height: 246px;
    border-radius: 0 0 0 96px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inicioEBusca h1{
    color: #D9D9D9;
    margin: 45px 15px;
}

.barraDeBusca{
    width: 349px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    display: inline-flex;
    padding: auto;
    align-items: center;
}

.barraDeBusca .iconeBusca{
    margin-left: 8px;
    color: #7F39FB;
}

.barraDeBusca input{
    width: 15vw;
    flex: 1;
    outline: none;
    border: none;

    text-align: center;
}

.barraDeBusca input[type='text']::placeholder{
    color:rgba(163, 95, 212, 45%);
    font-size: 15px;
}

.barraDeBusca button{
    width: 90px;
    height: 50px;
    background-color: #7F39FB;
    border: 1px solid white;
    border-radius: 15px;
    color: #D9D9D9;
    text-align: center;
    font-size: 15px;
}

.nomeUser{
    width: 220px;
    margin-bottom: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.nomeUser a{
    color: #D9D9D9;
}

.ftPerfil{
    width: 64px;
    height: 68.8px;
}

.ftPerfil i{
    width: 100%;
    height: 100%;
}

.mainTelaPrincipal{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 560px 200px 200px;
    grid-template-areas: 
        "menuside lidosRecentes"
        "menuside metaDeLeitura"
        "menuside metaDeLeitura";
}
.menu{
    grid-area: menuside;
}
.menu ul li{
    font-size: 28px;
    margin-top: 25px;
    color: #7F39FB;
}

.menu li i{
    font-size: 30px;
}

.logo{
    display: flex;
}

.logo img{
    width: 180px; 
    margin-left: 35px;
}

hr{
    width: 50%; 
    margin-left: 10%;
}

.lidosRecentes{
    grid-area: lidosRecentes;
    margin-top: 50px;
   
}
.tituloLidosRecentes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 90px;
}

.tituloLidosRecentes h3{
    font-size: 35px;
    color: #7F39FB;
}

.tituloLidosRecentes a{
    font-size: 20px;
    color: #7F39FB;
    font-weight: bold;
    width: 100px;
}

.estilizacao{
    display: flex;
    width: 900px;
    list-style: none;
    padding: 0;
    margin-left: 150px;
}

.estilizacao li{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    margin: 20px;
    cursor: pointer;
}

.estilizacao li img{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    transition: .5s;
}

.informacaoLivro{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    background-color: #362D60;
    color: white;
    overflow: hidden;
    margin-top: 3px;
}

.informacaoLivro p {
    margin: 0 10px 5px 10px;
}

.estilizacao li:hover img{
    margin-top: -60px;
    margin-right: 60px;
}

.metaDeLeitura {
    grid-area: metaDeLeitura;
    width: 960px;
    height: 510px;
   
    overflow: hidden;
    position: relative;
}

.tituloMetaDeLeitura{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 90px;
}

.tituloMetaDeLeitura h3{
    font-size: 35px;
    color: #7F39FB;
}

.bi-caret-left-fill{
      position: absolute;
    top: 40%;
    font-size: 60px;
    font-weight: bold;
    color: #7F39FB;
    cursor: pointer;
    left: .5%;
    z-index: 1; 
}

.bi-caret-right-fill {
    position: absolute;
    top: 40%;
    font-size: 60px;
    font-weight: bold;
    color: #7F39FB;
    left: 95%;
    text-align: right;
    cursor: pointer;
    z-index: 1; 
}

.carrosselMeta{
    overflow: hidden;

}

.carrosselSlides{
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carrosselMeta::-webkit-scrollbar{
    visibility: hidden;
}

.carrosselMeta img{
    width: 100%;
    max-width: 250px;
    height: 300px;
    margin: 20px;
    /* position: relative;
    transition:  0.5s; */
}

/* search page  */

.resultadoPesquisa{
    margin-top: 45px;
}
.resultGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0;
}

.conteudoLivros{
    width: 400px;
    height: 200px;
    background-color: #6c757d;
    border-radius: 10px;
    color: #362D60;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudoLivros img{
    width: 128px;
    height: 189px;
}

