@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=EB+Garamond:ital,wght@0,400;1,700&family=Merriweather:ital,wght@1,300&family=Noto+Emoji:wght@300&family=Playfair+Display:ital@1&family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Belleza;
    height: 100%;
}


.ajuste{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.titulo{
    color: #BB86FC;
    font-size: 80px;
    margin-top: -48px;
    text-shadow: 12px 9px 2px rgba(0, 0, 0, 0.1);

}
.emcima{
    width: 450px; /* Defina a largura do container conforme necessário */
    word-wrap: break-word;
    position: absolute;
    top: 44%;
    left: 15%;
    transform: translate(-21%, -50%);
    text-align: center;
    color: #fff; /* ou defina a cor de texto desejada */
    font-size: 47px; /* ou defina o tamanho de fonte desejado */
    padding: 10px;
    text-shadow: 12px 9px 2px rgba(0, 0, 0, 0.1);

}

.img img{
    width: 117%;
}

.login{
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative; top: -340px;
}

.login label{
    margin-left: 4%;
    margin-bottom: 6px;
    font-size: 15px;

}

.login input{
    margin-bottom: 20px;
    padding: 12px;
    width: 300px;
    font-size: 12px;
    outline: 0;
    border-radius: 10000px;

}

.login i{
    font-size: 20px;
    cursor: pointer;
    color: #000;
    position: relative; top: -52px;
    margin-left: 148%;
}

.cadastre ul{
    list-style-type: none;
}

.cadastre{
    margin-left: 780px;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative; top: -385px;
    font-size: 12px;
}

.cadastre a{
    text-decoration: none;
}

.cadastre a:hover{
    text-decoration: underline;
}

.botao input{
    margin-left: 910px;
    position: relative; top: -360px;
    border: none;
    padding: 12px;
    width: 130px;
    background-color: #7F39FB;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
}

.titulo01{
    color: #BB86FC;
    font-size: 80px;
    margin-top: -90px;
    text-shadow: 12px 9px 2px rgba(0, 0, 0, 0.1);

}

.cadastro {
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative; top: -400px;
}

.cadastro label{
    margin-left: 4%;
    margin-bottom: 6px;
    font-size: 15px;
}

.cadastro input{
    margin-bottom: 15px;
    padding: 12px;
    width: 300px;
    font-size: 12px;
    outline: 0;
    border-radius: 10000px;
}

.botao01 input{
    margin-left: 910px;
    position: relative; top: -380px;
    border: none;
    padding: 12px;
    width: 130px;
    background-color: #7F39FB;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
}